<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script type="text/javascript" src="app.js"></script>

  </head>
  <body ng-app="myapp">
    <div ng-controller="casecontroller">
        <div>
            <label for="bday">Start Date</label>
            <input type="date" id="startDate" name="startDate">
        </div>
        <div>
            <label for="bday">End Date</label>
            <input type="date" id="endDate" name="endDate">
        </div>
    </div>
<div class="col-sm-6"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>

  </body>
</html>
