.bgclr{
background-color: #eee;
}
.row{
  margin-top: 30px;
  margin-bottom: 30px
}
#empTitle{
  color: blue;
}
#caseTItle{
  color: red;
}
.bgclrHRow{
  background-color:#555;
  color:white;
}


table {
        width: 100%;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 180px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 28.8%;
    float: left;
}
.table>thead>tr>th{
  border-bottom: none;
}
